body {
    background-color: #121212;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: white;
}

.title-div {
    margin: 10px;
}

.title {
    font-size: 5em;
}

.sub-title {
    font-size: 1.3em;
}

#portfolio {
    display: flex;
    flex-direction: column;
}

#portfolio input {
    display: none;
}

#menu-bar {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    border-bottom: 4px solid white;
    margin: 10px;
}

#menu-bar label {
    flex: 1;
    height: 24px;
    min-width: 250px;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 10px 10px 10px;
    outline: none;
    justify-content: center;
    align-items: flex-end;
    display: flex;
}

#menu-bar label:hover {
    font-size: 24px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

#menu-content{
    width: 100%;
    height: 100%;
}

#repository-content, #example-content, #contact-content{
    display: none;
}

#default-content{
    display: flex;
    flex-direction: column;
}

#repository-content, #example-content, #contact-content, #default-content {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

#repository-tog:checked~#menu-bar #repository-label, 
#example-tog:checked~#menu-bar #example-label, 
#contact-tog:checked~#menu-bar #contact-label {
    font-size: 24px;
    font-weight: bold;
}

#repository-tog:checked~#menu-content #repository-content, 
#example-tog:checked~#menu-content #example-content, 
#contact-tog:checked~#menu-content #contact-content {
    display: flex;
}

#repository-tog:checked~#menu-content #default-content, 
#example-tog:checked~#menu-content #default-content, 
#contact-tog:checked~#menu-content #default-content {
    display: none;
}

#gitlab-link, #github-link, #metalsmarket-link, #normal-link{
    background-color: rgba(255,255,255,.12);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.5em;
    color: #FFFFFF;
    transition: 0.3s;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 10px 10px;
}

#gitlab-link:hover, #github-link:hover, #metalsmarket-link:hover, #normal-link:hover {
    background-color: rgba(255,255,255,.16);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#gitlab-link img, #github-link img, #metalsmarket-link img{
    border-radius: 10px 10px 0px 0px;
    height: 200px;
    width: 300px;
}

#gitlab-link div, #github-link div, #metalsmarket-link div{
    padding: 10px;
}

#normal-link{
    padding: 10px
}